node_modules
.next
.local
.git
.github
.vscode
.idea
data
uploads
public/uploads
prisma/*.db
prisma/*.db-journal
prisma/migrations_sqlite_backup
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Dockerfile
docker-compose.yml
DOCKER_DEPLOY.md
README.md
