node_modules
.next
.local
data

uploads/*
!uploads/.gitkeep
public/uploads/*
!public/uploads/.gitkeep

prisma/*.db
prisma/*.db-journal

.env
.env.local
.env.*.local

*.log
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
